<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Mobile Login</h2>
     
             <form id="otp-submit" action="/verifyOtp" method="POST" class="register-form" style="display: block;">
                    <div class="form-group">
                        <label for="your_mobile"><i class="zmdi zmdi-smartphone-iphone"></i></label>
                        <input type="text" id="user-enter-otp" placeholder="Enter the 6 digit OTP" name="otpDigit" required />
                    </div>
                    <p id="err_msg" style="color: rgb(145, 19, 19);"></p>
                    <div class="form-group form-button">
                        <input type="submit" class="form-submit" id="majaz" value="Submit" />
                        <button class="form-submit" id="loading-btn" style="display: none;"><i class="fa fa-spinner fa-spin"></i></button>
                    </div>
                </form>
                  
                </div>
               
                <a href="/login">Login without Mobile ?</a>
                <button type="submit" class="btn btn-primary float-right">Send Otp</button>
        </div>
    </div>
</div>
<script>
    $('#otp-submit').submit((e)=>{
        e.preventDefault();
        let otp_id=localStorage.getItem('otp_id');
        let otp_code= $('#user-enter-otp').val();
        let user_phone=localStorage.getItem('mobile');
        $.ajax({
            url:'/verifyOtp',
            method:'post',
            data:{
                "otp_id":otp_id,
                "otp_code":otp_code,
                'user_phone':user_phone
            },
            success:(response)=>{
                if(response.status=='success'){
                    $('#majaz').hide();
                    $('#loading-btn').show()
                    location.href='/'
                }else if(response.status=='failed'){
                    document.getElementById('err_msg').innerHTML=response.err;
                }
            }
        })
    });
</script>